/* [project]/app/components/top/top.module.css [app-client] (css) */
.top-module__c6siba__hero {
  place-content: center;
  place-items: center;
  height: 100vh;
  display: grid;
  position: relative;
}

.top-module__c6siba__hero h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: max(8vw, 3.2em);
}

.top-module__c6siba__hero h1 br {
  display: none;
}

.top-module__c6siba__hero > span {
  font-family: var(--font-shippori);
  text-align: end;
  -webkit-text-stroke: var(--smoky-c) 1px;
  opacity: .6;
  color: #0000;
  font-size: max(6vw, 3em);
  font-weight: 600;
  line-height: .9;
  position: absolute;
  inset: auto 5vw -.02em auto;
}

.top-module__c6siba__infiniteArea {
  mix-blend-mode: color-burn;
  width: 100vw;
  height: max(6vw, 3em);
  margin-inline: -5vw;
  position: relative;
  overflow: hidden;
}

.top-module__c6siba__infiniteArea > div {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  inset: 0 auto auto 0;
}

.top-module__c6siba__infiniteArea > div span {
  font-size: max(4vw, 2em);
  font-weight: 600;
}

.top-module__c6siba__infiniteArea.top-module__c6siba__safari {
  color: var(--primary-c);
  opacity: .3;
}

.top-module__c6siba__about {
  gap: 5vw;
  padding-bottom: 0;
  line-height: 2;
  display: flex;
}

.top-module__c6siba__about hgroup {
  width: max(40%, 320px);
}

.top-module__c6siba__about h2 {
  color: var(--smoky-c);
  font-size: max(1.6vw, 18px);
  font-weight: 600;
  line-height: 1;
}

.top-module__c6siba__about h3 {
  font-size: max(1.6vw, 18px);
}

.top-module__c6siba__about > p {
  font-family: var(--font-gothic);
  flex: 1;
}

.top-module__c6siba__portfolio {
  --h: calc(100vh - var(--header-h));
  --nav-w: 140px;
  align-items: start;
  gap: 5vw;
  display: flex;
}

.top-module__c6siba__categoriesNav {
  top: calc(var(--h)  - 10em);
  width: var(--nav-w);
  flex-direction: column;
  gap: 10px;
  display: flex;
  position: sticky;
  overflow: hidden;
}

.top-module__c6siba__categoriesNav button {
  text-transform: capitalize;
  color: #aaa;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  transition-property: color, translate;
  transition-duration: .4s;
  display: flex;
  position: relative;
  translate: -20px;
}

.top-module__c6siba__categoriesNav button span {
  margin-block: auto;
  transition: translate .4s;
  position: absolute;
  inset: 0 -20px 0 auto;
}

.top-module__c6siba__categoriesNav button:before {
  content: "";
  aspect-ratio: 1;
  background-color: currentColor;
  width: 10px;
}

.top-module__c6siba__categoriesNav button.top-module__c6siba__current {
  color: var(--primary-c);
  translate: 0;
}

.top-module__c6siba__categoriesNav button.top-module__c6siba__current span {
  translate: -20px;
}

@media (any-hover: hover) {
  .top-module__c6siba__categoriesNav button:not(.top-module__c6siba__current):hover {
    color: #333;
  }
}

.top-module__c6siba__thumbArea {
  top: calc((var(--h)  - (80vw - var(--nav-w)) * 9 / 32) / 2 + var(--header-h));
  opacity: 0;
  border-radius: 10px;
  flex: 1;
  place-items: center;
  display: grid;
  position: sticky;
  overflow: hidden;
  translate: 50px;
  box-shadow: 0 14px 40px #0000004d;
}

.top-module__c6siba__thumbArea img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  scale: 1.1;
}

.top-module__c6siba__thumbArea.top-module__c6siba__active {
  opacity: 1;
  transition-property: opacity, translate;
  transition-duration: .6s;
  translate: 0;
}

.top-module__c6siba__thumbArea.top-module__c6siba__active img {
  transition: scale 1s;
  scale: 1;
}

.top-module__c6siba__titleList {
  flex-direction: column;
  flex: 1;
  gap: 2em;
  display: flex;
}

.top-module__c6siba__titleList li {
  background-color: color-mix(in srgb, var(--primary-c), transparent 90%);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: .6s;
  position: relative;
  overflow: hidden;
}

@media (any-hover: hover) {
  .top-module__c6siba__titleList li:hover {
    background-color: #fff;
    box-shadow: 0 10px 30px #0000001a;
  }
}

.top-module__c6siba__titleList article {
  padding: max(3vw, 1em);
}

.top-module__c6siba__titleList h3 {
  font-family: var(--font-gothic);
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.6;
}

.top-module__c6siba__sp {
  display: none;
}

.top-module__c6siba__linkCover {
  position: absolute;
  inset: 0;
}

.top-module__c6siba__categoriesArea {
  flex-wrap: wrap;
  gap: 8px;
  display: flex;
}

.top-module__c6siba__categoriesArea button {
  text-transform: capitalize;
  color: #666;
  z-index: 2;
  border: 1px solid;
  border-radius: 2em;
  padding: .2em 1em;
  font-size: 14px;
  transition-property: color, background-color;
  transition-duration: .4s;
  position: relative;
}

.top-module__c6siba__categoriesArea button:hover {
  color: #fff;
  background-color: #666;
}

@media (orientation: portrait) {
  .top-module__c6siba__hero {
    height: 80vh;
  }
}

@media (width < 1024px) {
  .top-module__c6siba__thumbArea {
    display: none;
  }

  .top-module__c6siba__sp {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
  }
}

@media (width < 768px) {
  .top-module__c6siba__hero {
    gap: 1em;
  }

  .top-module__c6siba__hero h1 {
    line-height: 1.2;
  }

  .top-module__c6siba__hero h1 br {
    display: block;
  }

  .top-module__c6siba__hero > span {
    right: 0;
  }

  .top-module__c6siba__about {
    flex-direction: column;
  }

  .top-module__c6siba__about hgroup {
    width: 100%;
  }

  .top-module__c6siba__portfolio {
    --nav-w: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .top-module__c6siba__categoriesNav {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px 4em;
    display: grid;
    position: static;
  }

  .top-module__c6siba__categoriesNav button:before {
    opacity: 0;
    transition: opacity .4s;
  }

  .top-module__c6siba__categoriesNav button.top-module__c6siba__current:before {
    opacity: 1;
  }
}


/*# sourceMappingURL=app_components_top_top_module_99132154.css.map*/