/* [project]/app/profile/profile.module.css [app-client] (css) */
.profile-module__3PkVZa__fv {
  margin-top: var(--header-h);
  place-items: center;
  height: max(50vmin, 260px);
  display: grid;
}

.profile-module__3PkVZa__fv h1 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: max(6vw, 2.6em);
}

.profile-module__3PkVZa__policy {
  padding-bottom: max(10vw, 120px);
  display: flex;
  position: relative;
}

.profile-module__3PkVZa__policy h2 {
  mix-blend-mode: color-burn;
  z-index: -1;
  font-size: max(15vw, 5.4em);
  font-weight: 600;
  line-height: 1.2;
  position: absolute;
  inset: auto 0 0 auto;
}

.profile-module__3PkVZa__policy h3 {
  font-family: var(--font-gothic), sans-serif;
  width: 50%;
  color: var(--primary-c);
  flex-direction: column;
  gap: 1em;
  font-size: max(1.6vw, 16px);
  font-weight: 500;
  display: flex;
}

.profile-module__3PkVZa__policy h3:before {
  content: "";
  background-color: currentColor;
  width: max(70%, 300px);
  height: 1px;
}

.profile-module__3PkVZa__policy p {
  font-family: var(--font-gothic), sans-serif;
  flex: 1;
  line-height: 2;
}

.profile-module__3PkVZa__history {
  background-color: var(--font-c);
  color: #ccc;
}

.profile-module__3PkVZa__history > div {
  gap: 5%;
  width: min(100%, 1000px);
  margin-inline: auto;
  display: flex;
}

.profile-module__3PkVZa__history .profile-module__3PkVZa__head {
  width: 30%;
}

.profile-module__3PkVZa__history .profile-module__3PkVZa__head > img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 160px;
  height: auto;
}

.profile-module__3PkVZa__history h2 {
  mix-blend-mode: overlay;
  margin-bottom: 1.6rem;
  font-size: max(4vw, 3em);
  line-height: 1.2;
}

.profile-module__3PkVZa__history .profile-module__3PkVZa__body {
  flex: 1;
  line-height: 1.8;
}

.profile-module__3PkVZa__history .profile-module__3PkVZa__body p {
  font-family: var(--font-gothic), sans-serif;
  font-size: 14.4px;
}

.profile-module__3PkVZa__history .profile-module__3PkVZa__body h3 {
  mix-blend-mode: overlay;
  font-size: 1.2em;
  font-weight: 500;
}

.profile-module__3PkVZa__skillsArea h2 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .1em;
  mix-blend-mode: color-burn;
  margin-bottom: 5vw;
  font-size: max(5vw, 50px);
  font-weight: 600;
}

.profile-module__3PkVZa__skillsArea ul {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: max(3vw, 1em);
  display: grid;
}

.profile-module__3PkVZa__skillsArea figure {
  background-color: color-mix(in srgb, var(--primary-c), transparent 90%);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-block: 2em;
  display: flex;
}

.profile-module__3PkVZa__skillsArea figure img {
  width: auto;
  max-height: 80px;
}

@media (width < 768px) {
  .profile-module__3PkVZa__policy {
    flex-direction: column;
    gap: 50px;
  }

  .profile-module__3PkVZa__policy h3 {
    font-family: var(--font-gothic), sans-serif;
    width: fit-content;
    margin-left: auto;
  }

  .profile-module__3PkVZa__policy h3:before {
    width: 100%;
  }

  .profile-module__3PkVZa__history > div {
    flex-direction: column;
    gap: 1em;
  }

  .profile-module__3PkVZa__history .profile-module__3PkVZa__head {
    align-items: center;
    gap: 1em;
    width: 100%;
    display: flex;
  }

  .profile-module__3PkVZa__history .profile-module__3PkVZa__head > img {
    order: -1;
    width: 100px;
  }

  .profile-module__3PkVZa__history h2 {
    margin: 0;
  }

  .profile-module__3PkVZa__skillsArea ul {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .profile-module__3PkVZa__skillsArea figure img {
    max-height: 60px;
  }
}


/*# sourceMappingURL=app_profile_profile_module_727743d6.css.map*/